<div class="container" style="overflow-y: auto">
  <div class="inside-container">
    <div class="calculator-area">
      <div class="inside-calculator-container">
        <div class="result" style="overflow-x: auto">
          <div class="result-inside">
            <p>{{ result }}</p>
            <button
              mat-mini-fab
              color="primary"
              class="copy-A"
              [ngClass]="{
                'btn-copy-active': isActive === true,
                'copy-A': true
              }"
              (click)="copyResultA()"
            >
              A
            </button>
            <button
              mat-mini-fab
              color="primary"
              class="copy-B"
              [ngClass]="{
                'btn-copy-active': isActive === true,
                'copy-B': true
              }"
              (click)="copyResultB()"
            >
              B
            </button>
          </div>
        </div>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Number</mat-label>
          <input
            [(ngModel)]="textInsideA"
            matInput
            placeholder="A"
            type="number"
          />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Number</mat-label>
          <input
            [(ngModel)]="textInsideB"
            matInput
            placeholder="B"
            type="number"
          />
        </mat-form-field>
        <div class="wrapper">
          <button mat-flat-button color="primary" (click)="add()" class="add">
            <mat-icon>add</mat-icon>
          </button>
          <button
            mat-flat-button
            color="primary"
            (click)="subtract()"
            class="subtract"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <button
            mat-flat-button
            color="primary"
            (click)="multiply()"
            class="multiply"
          >
            <mat-icon>close</mat-icon>
          </button>
          <button
            mat-flat-button
            color="primary"
            (click)="divide()"
            class="divide"
          >
            /
          </button>
        </div>
        <button mat-flat-button color="primary" (click)="clear()" class="clear">
          C
        </button>
      </div>
    </div>
    <app-history
      [historyResult]="equationAsStringArray"
      (numA)="receiveNumA($event)"
      (numB)="receiveNumB($event)"
    >
    </app-history>
  </div>
</div>
