/* body {
  min-height: 100vh;
  position: relative;
  background: red !important;
} */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  overflow: hidden;
}
.inside-container {
  display: flex;
  flex-direction: row;
}
.calculator-area {
  display: flex;

  min-height: 400px;
  height: 50vh;
  min-width: 250px;
  width: 20vw;
  background: #8f9598;
}

.inside-calculator-container {
  width: 100%;
  min-width: 200px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.result-inside {
  position: relative;
  width: 100%;
  height: 100%;
}
.result-inside p {
  line-height: 80px;
}
.result {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  text-align: center;
  font-size: 24px;
}
.copy-A {
  position: absolute;
  top: -5px;
  display: none;
  font-size: 20px;
  transform: scale(0.6);
}
.copy-B {
  position: absolute;
  top: -5px;
  left: 35px;
  display: none;
  font-size: 20px;
  transform: scale(0.6);
}

.btn-copy-active {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.clear,
.divide {
  font-size: 24px;
}

.copy-A,
.copy-B {
  background: #d11f69;
  color: white;
}

mat-list-item {
  color: black !important;
}
ul {
  list-style-type: none;
}
li {
  margin-left: -25px;
  color: whitesmoke;
}
input {
  color: whitesmoke;
}

@media (max-width: 600px) {
  .inside-container {
    flex-direction: column;
  }
}
